
@{
    Layout = null;
}


@{
    ViewBag.Title = "Leaderboard";
}
<head>

    <link href="~/Content/css/Leaderboard.css" rel="stylesheet" />
</head>
<body>

    <div class=" container body-content center">
        <div class="top3">
            <div class="two item">
                <div class="pos">
                    2
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_2.png')"></div>
                <div class="name">
                    @ViewBag.Name2
                </div>
                <div class="score">
                    @ViewBag.Result2
                </div>
            </div>
            <div class="one item">
                <div class="pos">
                    1
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_1.png')"></div>
                <div class="name">
                    @ViewBag.Name1
                </div>
                <div class="score">
                    @ViewBag.Result1
                </div>
            </div>
            <div class="three item">
                <div class="pos">
                    3
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_3.png')"></div>
                <div class="name">
                    @ViewBag.Name3
                </div>
                <div class="score">
                    @ViewBag.Result3
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <div class="pos">
                    4
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_4.png')"></div>
                <div class="name">
                    @ViewBag.Name4
                </div>
                <div class="score">
                    @ViewBag.Result4
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    5
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_5.png')"></div>
                <div class="name">
                    @ViewBag.Name5
                </div>
                <div class="score">
                    @ViewBag.Result5
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    6
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_6.png')"></div>
                <div class="name">
                    @ViewBag.Name6
                </div>
                <div class="score">
                    @ViewBag.Result6
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    7
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_7.png')"></div>
                <div class="name">
                    @ViewBag.Name7
                </div>
                <div class="score">
                    @ViewBag.Result7
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    8
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_8.png')"></div>
                <div class="name">
                    @ViewBag.Name8
                </div>
                <div class="score">
                    @ViewBag.Result8
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    9
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_9.png')"></div>
                <div class="name">
                    @ViewBag.Name9
                </div>
                <div class="score">
                    @ViewBag.Result9
                </div>
            </div>
            <div class="item">
                <div class="pos">
                    10
                </div>
                <div class="pic" style="background-image: url('../../images/Leaderboard/Badge_10.png')"></div>
                <div class="name">
                    @ViewBag.Name10
                </div>
                <div class="score">
                    @ViewBag.Result10
                </div>
            </div>
        </div>
        <a href="@Url.Action("Quiz", "Home")" style="color:beige" id="quiz1-btn" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto" >Go Back</a>
    </div>
</body>

