@model EcossieBank_IT1.Models.Dashboard

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quiz1_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quiz1_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quiz2_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quiz2_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quiz3_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quiz3_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
